<div class='title'>
  <h1>My tasks</h1>
</div>
<div class='tasks'>
  <ul>
    <% @tasks.each do |task| %>
      <li><% if task.completed == true %>
          <i class="fa-regular fa-square-check"></i>
          <% else %>
          <i class="fa-regular fa-square"></i>
          <% end %>
      <%= link_to task.title, task_path(task) %>
          <%= link_to task_path(task),
              method: :delete,
              data: { confirm: "Are you sure?" } do%>
              <i class="fa-regular fa-trash-can"></i>
              <% end %></li>
    <% end %>
  </ul>
</div>
<div class='add'>
  <p><%= link_to new_task_path do%>
     <i class="fa-solid fa-plus"></i>
     Create a new task
     <% end %>
  </p>
</div>
