.title {
  margin: 30px;
  border-bottom: 1px solid gray;
}

.tasks {
  margin: 30px;
  padding-bottom: 36px;
  border-bottom: 1px solid gray;
}

.add {
  margin: 30px;
  border-bottom: 1px solid gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

li {
  color: #183153;
}

a {
  text-decoration: none;
  color: #183153;
}
